<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Corey's Website</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <style>
      .card-size {
        height: 150px;
      }

      .zoom-hover {
        transition: transform 0.2s ease;
      }
      .zoom-hover:hover {
        transform: scale(1.05);
      }
    </style>
  </head>
  <body>
    {% include 'header.html' %}

    <!-- Introduction -->
    <div class="container px-4 py-2">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-end">
          <img
            src="static/img/datascience.avif"
            class="shadow-lg d-block img-fluid rounded-5"
            alt="data science"
            style="max-width: 450px; object-fit: cover;"
            width="100%"
            height="100%"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            Data Science
          </h1>
          <p class="lead">
            Below are some data science projects I have made. I have analysed large pieces of data and visualised them using python. 
          </p>
        </div>
      </div>
    </div>
    <!-- Simulation Files -->
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <a
          href="https://cleoinvestigation.notion.site/?pvs=4"
          class="text-decoration-none text-reset d-block"
          style="max-width: 30rem"
          target="_blank"
        >
          <div class="card my-3 shadow-sm zoom-hover card-size">
            <div class="card-body">
              <h5 class="card-title">Investigating Cleo - A Detailed Analysis</h5>
              <p class="card-text">
                Cleo is a famous and mysterious user on Maths Stack Exchange, I have analysed her behaviour to see if she is legitimate. 
              </p>
            </div>
          </div>
        </a>

        <a
          href="https://coreyanderson311.notion.site/Benford-s-Law-1567d56ac50c411bbd2eaf76d2439c89?pvs=4"
          class="text-decoration-none text-reset d-block"
          style="max-width: 30rem"
          target="_blank"
        >
          <div class="card my-3 shadow-sm zoom-hover card-size">
            <div class="card-body">
              <h5 class="card-title">Benford's Law</h5>
              <p class="card-text">
                Beford's Law is a statistical phenomenon that states that in many naturally occurring datasets, the leading digit is more likely to be small.
              </p>
            </div>
          </div>
        </a>

      </div>
    </div>

    {% include 'footer.html' %}
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"
  ></script>
</html>
