<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
  crossorigin="anonymous"
/>

<head>
  <link
    rel="icon"
    type="image/x-icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <title>Corey's Website</title>

  <style>
    .zoom-hover {
      transition: transform 0.2s ease;
    }
    .zoom-hover:hover {
      transform: scale(1.05);
    }
    .card-size {
      height: 80%;
    }
  </style>
</head>
{% include 'header.html' %}
<div class="container py-5">
  {% if sub_path == 'quantum_mechanics' %}
  <!-- Introduction -->
  <div class="container px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-end">
        <img
          src="{{ url_for('static', filename='img/qm.jpg') }}"
          class="shadow-lg d-block rounded-5"
          alt="Bootstrap Themes"
          style="max-width: 450px; object-fit: cover;"
          width="100%"
          height="100%"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          Quantum Mechanics
        </h1>
        <p class="lead">
          The study of matter and energy at the atomic and subatomic scale.
          Covers wave-particle duality, uncertainty principle, quantum states,
          and fundamental particle interactions.
        </p>
      </div>
    </div>
  </div>
  <h3 class="mt-4 border-bottom py-2">Related Papers</h3>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <a
      href="{{ url_for('static', filename='papers/qm/Nuclear Magnetic Resonance (MRI scans).pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Nuclear Magnetic Resonance</h5>
          <p class="card-text">
            Explains how MRI imaging is done by the reception of RF signals
            emitted from hydrogen nuclei as they relax and precess after
            excitation.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/qm/Relativistic Quantum Mechanics.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Relativistic Quantum Mechanics</h5>
          <p class="card-text">
            Relativistic quantum mechanics allows the description of quantum
            particles moving at high speeds. The Dirac and Klein Gordon
            formalims are explored.
          </p>
        </div>
      </div>
    </a>
    <a
      href="{{ url_for('static', filename='papers/qm/The Quantum Harmonic Oscillator.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">The Quantum Harmonic Oscillator</h5>
          <p class="card-text">
            This is one of the most important concepts in quantum mechanics. As
            pretty much everything can be modelled as a QHO.
          </p>
        </div>
      </div>
    </a>
    <a
      href="{{ url_for('static', filename='papers/qm/The Ultraviolet Catastrophe.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">The Ultraviolet Catastrophe</h5>
          <p class="card-text">
            This marks the birth of quantum mechanics. It explores how this
            issue was resolved by introducing the 'quantum'.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/qm/Concepts_in_Quantum_Mechanics.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Concepts in Quantum Mechanics</h5>
          <p class="card-text">
            My first document written by LaTeX. I practice writing Griffith's
            Book of QM for practice.
          </p>
        </div>
      </div>
    </a>
  </div>

  {% elif sub_path == 'optics' %}

  <!-- Introduction -->
  <div class="container px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-end">
        <img
          src="{{ url_for('static', filename='img/optics.jpg') }}"
          class="shadow-lg d-block rounded-5"
          alt="Bootstrap Themes"
          style="max-width: 450px; object-fit: cover;"
          width="100%"
          height="100%"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          Optics
        </h1>
        <p class="lead">
          The branch of physics dealing with light behaviour and properties. Includes
          geometric optics, wave optics, and electromagnetic theory of light
          propagation.
        </p>
      </div>
    </div>
  </div>
  <h3 class="mt-4 border-bottom py-2">Related Papers</h3>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <a
      href="{{ url_for('static', filename='papers/optics/Fraunhofer Diffraction coz fourier optics is cool.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Fraunhofer Diffraction</h5>
          <p class="card-text">
            This derives the idea how the diffraction pattern is actually the
            fourier transform of the slit function.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/optics/The Refractive Index.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">The Refractive Index</h5>
          <p class="card-text">
            This paper explores why light slows down in a medium. It also
            addresses common misconceptions about the refractive index.
          </p>
        </div>
      </div>
    </a>
  </div>

  {% elif sub_path == 'mechanics' %}
  <div class="container px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-end">
        <img
          src="{{ url_for('static', filename='img/mechanics.jpg') }}"
          class="shadow-lg d-block rounded-5"
          alt="Bootstrap Themes"
          style="max-width: 450px; object-fit: cover;"
          width="100%"
          height="100%"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          Mechanics
        </h1>
        <p class="lead">
          The study of motion, forces, and energy in physical systems. Encompasses
          classical mechanics, fluid dynamics, and the principles of conservation.
        </p>
      </div>
    </div>
  </div>
  <h3 class="mt-4 border-bottom py-2">Related Papers</h3>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <a
      href="{{ url_for('static', filename='papers/mechanics/Lagrangian Formulation of Classical Mechanics.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Lagrangian Mechanics</h5>
          <p class="card-text">
            Lagrangian mechanics is a reformulation of classical mechanics in
            terms of energy. It provides an elegant way to derive equations of
            motion.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/mechanics/Celestial Mechanics.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Celestial Mechanics</h5>
          <p class="card-text">
            The study of the motion of celestial bodies under the influence of
            gravitational forces. It includes the derivation and analysis of
            Kepler's laws.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/mechanics/A Derivation of The Legendre Transform.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">The Legendre Transform</h5>
          <p class="card-text">
            The Legendre transform is a mathematical operation that transforms
            between the Lagrangian and Hamiltonian formulations of mechanics.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/mechanics/Projectile Motion.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Projectile Motion</h5>
          <p class="card-text">
            This is a simple example of a projectile motion problem I was
            helping someone with.
          </p>
        </div>
      </div>
    </a>
  </div>
  {% elif sub_path == 'electromagnetism' %}
  <!-- Introduction -->
  <div class="container px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-end">
        <img
          src="{{ url_for('static', filename='img/em.jpg') }}"
          class="shadow-lg d-block rounded-5"
          alt="Bootstrap Themes"
          style="max-width: 450px; object-fit: cover;"
          width="100%"
          height="100%"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          Electromagnetism
        </h1>
        <p class="lead">
          Study of electric and magnetic fields and their interactions. Covers
          Maxwell's equations, electromagnetic waves, and charged particle behavior.
        </p>
      </div>
    </div>
  </div>
  <h3 class="mt-4 border-bottom py-2">Related Papers</h3>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <a
      href="{{ url_for('static', filename='papers/em/A thicc derivation of Maxwells wave equations.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Maxwell's Wave Equations</h5>
          <p class="card-text">
            This is a derivation of Maxwell's wave equations. It is a
            comprehensive derivation that covers all the steps in detail.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/em/Gauge Transformations in Electrodynamics.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Gauge Transformations</h5>
          <p class="card-text">
            Gauge transformations are a mathematical tool used in
            electromagnetism to simplify equations and understand the underlying
            physics.
          </p>
        </div>
      </div>
    </a>
  </div>

  {% elif sub_path == 'relativity' %}
  <!-- Introduction -->
  <div class="container px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-end">
        <img
          src="{{ url_for('static', filename='img/relativity.jpg') }}"
          class="shadow-lg d-block rounded-5"
          alt="Bootstrap Themes"
          style="max-width: 450px; object-fit: cover;"
          width="100%"
          height="100%"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          Relativity
        </h1>
        <p class="lead">
          Einstein's theories of special and general relativity. Explores spacetime,
          gravity as curved geometry, and the relationship between mass and energy.
        </p>
        </p>
      </div>
    </div>
  </div>
  <h3 class="mt-4 border-bottom py-2">Related Papers</h3>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <a
      href="{{ url_for('static', filename='papers/relativity/A Paper On Black Holes That Doesnt Suck.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Black Holes</h5>
          <p class="card-text">
            This covers non-rotating black holes and the Schwarzschild metric. I
            will probably add Kerr (rotating) black holes when I feel like it.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/relativity/A very unrigorous derivation of E=mc^2.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Einstein's Equivalence Principle</h5>
          <p class="card-text">
            This is a very rough derivation of the equivalence principle using
            basic princples of special relativity.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/relativity/Warp Drive Spacetime Geometry.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Warp Drives</h5>
          <p class="card-text">
            This paper explores the concept of warp drives and how they can
            seemingly allow faster than light travel by exploiting the geometry
            of spacetime.
          </p>
        </div>
      </div>
    </a>
  </div>

  {% elif sub_path == 'mathematics' %}
  <!-- Introduction -->
  <div class="container px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-end">
        <img
          src="{{ url_for('static', filename='img/maths.jpg') }}"
          class="shadow-lg d-block rounded-5 object-fit: cover;"
          alt="Maths"
          style="max-width: 450px; object-fit: cover;"
          width="100%"
          height="100%"
          loading="lazy"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          Mathematics
        </h1>
        <p class="lead">
          Mathematical techniques and proofs essential for physics. Includes calculus,
          differential equations, linear algebra, and complex analysis applications.
        </p>
      </div>
    </div>
  </div>
  <h3 class="mt-4 border-bottom py-2">Related Papers</h3>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <a
      href="{{ url_for('static', filename='papers/maths/Noethers Theorem - A paper on my fav mathematician _3.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Noether's Theorem on Symmetries</h5>
          <p class="card-text">
            Explains how symmetries in physical systems lead to conservation
            laws. It is the result for laws such as the conservation of energy.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/maths/Differentiating under the Integral sign like an ABSOLUTE PRO.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Feynman's Method of Integration</h5>
          <p class="card-text">
            Explains how to differentiate under the integral sign. This is a
            very powerful technique in solving more complex integrals.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/maths/Integrating a BIG Gaussian Boii.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Integrating the Gaussian Function</h5>
          <p class="card-text">
            This paper explores the derivation of the Gaussian integral using
            polar coordinates and the properties of the exponential function.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/maths/The Eigenvalues of a Mobius Strip.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Eigenvalues of a Mobius Strip</h5>
          <p class="card-text">
            Deriving the eigenvalues of mobius strip boundary conditions.
            Partially motivated by a scene in Avengers.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/maths/The Gamma Function.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">The Gamma Function</h5>
          <p class="card-text">
            The gamma function allows the extension of the factorial function to
            non-integer values.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/maths/The Virial Theorem.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">The Virial Theorem</h5>
          <p class="card-text">
            The virial theorem relates the average kinetic energy of a system to
            its average potential energy.
          </p>
        </div>
      </div>
    </a>

    <a
      href="{{ url_for('static', filename='papers/maths/Fourier Analysis.pdf') }}"
      target="_blank"
      class="text-decoration-none text-reset d-block"
      style="max-width: 30rem"
    >
      <div class="card my-3 shadow-sm zoom-hover card-size">
        <div class="card-body">
          <h5 class="card-title">Fourier Analysis</h5>
          <p class="card-text">
            Fourier analysis is a mathematical technique used to decompose
            functions into their constituent frequencies. It is widely used in
            signal processing and data analysis.
          </p>
        </div>
      </div>
    </a>
  </div>

  {% else %}
  <p>Topic not found.</p>
  {% endif %}
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
  crossorigin="anonymous"
></script>
{% include 'footer.html' %}
